.obi {
  background-color: pink;
  width: 50px;
  height: 110vh;
  position: fixed;
  top: -10vh;
  left: 0;
  text-align: center;
  /* transform: rotate(90deg); */
}

.obi img {
  width: 90%;
  margin-bottom: 10vh;
  animation: obi-animation 1.5s linear infinite;
}

@keyframes obi-animation {
  0% {
    transform: 0;
  }
  100% {
    transform: translateY(15vh);
  }
}
